<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>게시물 목록</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h2>게시물 검색</h2>
    <div class="container">
        <form class="form-horizontal" th:action="@{/boards}" th:object="${search}" method="get">
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">제목</label>
                <div class="col-sm-6">
                    <input id="title" name="title" type="text" class="form-control"
                           placeholder="제목" th:value="*{title}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="writer">작성자</label>
                <div class="col-sm-6">
                    <input id="writer" name="writer" type="text" class="form-control"
                           placeholder="작성자" th:value="*{writer}"/>
                </div>
            </div>
            <div class="col-sm-8 text-right">
                <button type="submit" class="btn btn-primary">검색</button>
                <a href="#" th:href="@{/boards}" class="btn btn-default" role="button">초기화</a>
            </div>
        </form>
    </div>
    <h2>게시물 목록</h2>
    <div class="table-responsive" th:object="${page}">
        <table class="table">
            <thead>
            <tr>
                <th>순번</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : *{content}">
                <td class="text-right" th:text="${{board.seq}}">1</td>
                <td class="text-left"><a href="#" th:href="@{/boards/{seq}(seq=${board.seq})}"
                                         th:text="${board.title}">적절한 제목입니다.</a></td>
                <td th:text="${board.writer}">홍길동</td>
                <td th:text="${{board.regDate}}">2017.01.01 00:00:00</td>
            </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/boards/form}" class="btn btn-default" role="button">등록</a>
        </div>
        <nav class="text-center" th:if="*{hasContent()}">
            <ul class="pagination">
                <li th:class="*{hasPrevious()}? '' : 'disabled'">
                    <span th:if="*{not hasPrevious()}" aria-hidden="true">&lt;</span>
                    <a th:if="*{hasPrevious()}" th:href="@{*{url}(page=*{number-1})}" aria-label="Previous">
                        <span>&lt;</span>
                    </a>
                </li>
                <li th:each="item : *{pageItems}" th:class="${item.current}? 'active' : ''">
                    <span th:if='${item.current}' th:text='${item.number + 1}'>1</span>
                    <a th:if='${not item.current}' th:href='@{*{url}(page=${item.number})}'><span
                            th:text='${item.number + 1}'>1</span></a>
                </li>
                <li th:class="*{hasNext()}? '' : 'disabled'">
                    <span th:if='*{not hasNext()}' aria-hidden="true">&gt;</span>
                    <a th:if='*{hasNext()}' th:href='@{*{url}(page=*{number+1})}' aria-label="Next">
                        <span>&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>