<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>게시물 목록</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>게시물 목록</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>순번</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td class="text-right" th:text="${{board.seq}}">1</td>
                <td class="text-left"><a href="/boards/1" th:text="${board.title}">적절한 제목입니다.</a></td>
                <td th:text="${board.writer}">홍길동</td>
                <td th:text="${{board.regDate}}">2017.01.01 00:00:00</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{/boards/form}" class="btn btn-default" role="button">등록</a>
    </div>
</div>
</body>
</html>