<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>게시물 조회</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container" th:object="${board}">
    <h1>게시물 조회</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">제목</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="*{title}">게시물의 제목압니다</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">작성자</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="*{writer}">홍길동</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">작성일</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="*{{regDate}}">2017.01.01 00:00:00</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">내용</label>
            <div class="col-sm-10">
            <textarea class="form-control" id="content" name="content"
                      placeholder="내용" th:text="*{content}" readonly="readonly">게시물의 내용입니다.
            게시물의 내용입니다.</textarea>
            </div>
        </div>
    </form>
    <div>
        <a th:href="@{/boards}" class="btn btn-default" role="button">목록</a>
        <a th:href="@{/boards/{seq}/form(seq=*{seq})}" class="btn btn-primary" role="button">수정</a>
        <a th:href="@{/boards/{seq}/delete(seq=*{seq})}" class="btn btn-danger" role="button"
           onclick="return confirm('삭제하시겠습니까?');">삭제</a>
    </div>
    <h2>댓글</h2>
    <div id="comments" class="container">
    </div>
</div>
<script src="https://fb.me/react-15.0.0.js"></script>
<script src="https://fb.me/react-dom-15.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/babel" th:inline="javascript">
/*<![CDATA[*/
Date.prototype.dateFormat = function(format) {
    var yyyy = this.getFullYear().toString();
    format = format.replace(/yyyy/g, yyyy)
    var mm = (this.getMonth()+1).toString();
    format = format.replace(/mm/g, (mm[1]?mm:"0"+mm[0]));
    var dd  = this.getDate().toString();
    format = format.replace(/dd/g, (dd[1]?dd:"0"+dd[0]));
    var hh = this.getHours().toString();
    format = format.replace(/hh/g, (hh[1]?hh:"0"+hh[0]));
    var ii = this.getMinutes().toString();
    format = format.replace(/ii/g, (ii[1]?ii:"0"+ii[0]));
    var ss  = this.getSeconds().toString();
    format = format.replace(/ss/g, (ss[1]?ss:"0"+ss[0]));
    return format;
};

var Comments = React.createClass({
    loadComponentFromServer: function() {
        $.ajax({
            url: "/boards/" + this.props.boardSeq + "/comments"
            ,dataType: "json"
            ,cache: false
            ,success: function(comments) {
                this.setState({data: comments});
            }.bind(this)
            ,error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    handleDeleteComment: function(comment) {
        if (!confirm("삭제하시겠습니까?")) {
            return;
        }
        $.ajax({
            url: "/boards/" + this.props.boardSeq + "/comments" + "/" + comment.seq
            ,type: "delete"
            ,dataType: "json"
            ,cache: false
            ,success: function() {
                var comments = this.state.data;
                comments.splice(comments.indexOf(comment), 1);
                this.setState({data: comments});
            }.bind(this)
            ,error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    handleCreateComment: function(comment) {
        $.ajax({
            url: "/boards/" + this.props.boardSeq + "/comments"
            ,type: "post"
            ,dataType: "json"
            ,contentType: "application/json"
            ,data: JSON.stringify(comment)
            ,cache: false
            ,success: function(comment) {
                var comments = this.state.data;
                var newComments = comments.concat([comment]);
                this.setState({data: newComments});
            }.bind(this)
            ,error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    getInitialState: function () {
        return {data: []};
    },
    componentDidMount: function() {
        this.loadComponentFromServer();
    },
    render: function() {
        var handleDeleteComment = this.handleDeleteComment;
        var comments = this.state.data.map(function (comment) {
            return (
                <Comment comment={comment} key={comment.seq} onDeleteComment={handleDeleteComment}/>
            );
        });
        return (
            <div className="container">
                {comments}
                <CommentForm onCreateComment={this.handleCreateComment}/>
            </div>
        );
    }
});
var Comment = React.createClass({
    dateFormat: function (timeMillis) {
        var date = new Date(timeMillis);
        return date.dateFormat('yyyy.mm.dd hh:ii:ss');
    },
    handleDelete: function(e) {
        e.preventDefault();
        this.props.onDeleteComment(this.props.comment);
    },
    render: function () {
        return (
            <div className="panel panel-default">
                <div className="panel-heading">
                    {this.dateFormat(this.props.comment.regDate)} &nbsp; {this.props.comment.writer} &nbsp;
                    <button className="btn btn-danger btn-xs" onClick={this.handleDelete}>x</button>
                </div>
                <div className="panel-body">
                    {this.props.comment.content}
                </div>
            </div>
        );
    }
});
var CommentForm = React.createClass({
    handleCreate: function(e) {
        var getValueAndCheck = function(ref, msg) {
            var element = ReactDOM.findDOMNode(ref);
            var value = element.value.trim();
            if (value === "") {
                alert(msg);
                element.focus();
            }
            return value;
        };
        var setEmptyValue = function(ref) {
            ReactDOM.findDOMNode(ref).value = "";
        };

        e.preventDefault();
        var writer = getValueAndCheck(this.refs.writer, "작성자를 입력해주세요.");
        var content = getValueAndCheck(this.refs.content, "내용을 입력해주세요.");
        this.props.onCreateComment({writer: writer, content: content});
        setEmptyValue(this.refs.writer);
        setEmptyValue(this.refs.content);
        return;
    },
    render: function() {
        return (
            <form onSubmit={this.handleCreate}>
                <div className="panel panel-info">
                    <div className="panel-heading">
                        <input type="text" name="writer" className="form-control" ref="writer" placeholder="작성자"/>
                    </div>
                    <div className="panel-body">
                        <textarea className="form-control" name="content" ref="content" placeholder="댓글내용"></textarea>
                        <div className="btn-group btn-group-sm pull-right" role="group">
                            <button type="submit" className="btn btn-primary">등록</button>
                        </div>
                    </div>
                </div>
            </form>
        );
    }
});
ReactDOM.render(
    <Comments boardSeq="[[${board.seq}]]"/>,
    document.getElementById("comments")
);
/*]]>*/













</script>
</body>
</html>